<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
	<title>Details</title>
</head>
<body>

    <%if (user) {%>
        <nav>
            <ul>
                <li><a href="/">Euphoric Apex</a></li>
                <li><a href="/products/upDelete">Database</a></li>
                <li><a href="/products" style="float:right">Items</a></li>
                <li><a href="/carts" style="float:right">Cart</a></li>
                <li><a href="/logout" class="liLast">Log Out</a></li>
            </ul>
            
        
        </nav>
        <% } else {%>
            <nav>
                <ul>
                    <li><a href="/">Euphoric Apex</a></li>
                    <li><a href="/products" style="float:right">Items</a></li>
                    <li><a href="/carts" style="float:right">Cart</a></li>
                    
                </ul>
                
            
            </nav>
        <% } %>

	<h1 style="font-size:40px; text-decoration: underline;"><%= productDatabase?.title %></h1>
    <img src="<%=//productDatabase.image%>">
    <br>

    <img style="border: 5px solid black; background: no-repeat;" src="<%=productDatabase.image%>"> <br>
    <a style="font-size:24px">Price: $<%=productDatabase?.price%></a> <br>


    <form action="/carts/add/<%=productDatabase?._id%>" method="POST">
        <input style="background-color:black; color:white; height:40px; width:100px; font-size:16px" type="submit" value="Add to Cart">
    </form>
    <br><br>
    <div>
    <a style="background-color:white; color: black;">Description:  <%=productDatabase?.description%></a>
    </div>

    <br>
    <div><%=productDatabase?.details%></div>

    <br><br><br>

<% if(user) { %>

<br><br>
        <form id="add-review-form" method="POST" action="/reviews/<%=productDatabase._id%>?_method=POST">
          <label>Write A Review:</label><br>
          <textarea name="content" style="height: 60px; width: 300px"></textarea><br>
          <label>Rating:</label>
          <select name="rating">
            <option value="1">⭐️</option>
            <option value="2">⭐️⭐️</option>
            <option value="3">⭐️⭐️⭐️</option>
            <option value="4">⭐️⭐️⭐️⭐️</option>
            <option value="5">⭐️⭐️⭐️⭐️⭐️</option>
          </select>
          <input type="submit" value="Add Review">
        </form>


        <h3>Item Reviews and Ratings:</h3>
    
<% } %>
        <% if (productDatabase.reviews.length) { %>
            <table>
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Review</th>
                  <th>Rating</th>
                </tr>
              </thead>
              <tbody>
                <% let total=0 %>
                  <% productDatabase.reviews.forEach(function(p) { %>
                    <% total +=p.rating %>
                      <tr>
                        <td>
                          <%= p.createdAt.toLocaleDateString() %>
                        </td>
                        <td>
                          <%= p.content %>
                        </td>
                        <td>
                          <%= p.rating %>
                        </td>
                        
                      </tr>
                      <% }); %>
                        <tr>

                        </tr>
              </tbody>
            </table>
            <% } else { %>
              <h5>No Reviews Yet</h5>
              <% } %>


</body>
</html>
