<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap" rel="stylesheet">

    <title>Document</title>
</head>
<body>

<% if (user) {%>
<nav>
    <ul>
        <li><a href="/">Euphoric Apex</a></li>
        <li><a href="/products/upDelete">Database</a></li>
        <li><a href="/products" style="float:right">Items</a></li>
        <li><a href="/carts" style="float:right">Cart</a></li>
        <li><a href="/logout" class="liLast">Log Out</a></li>
    </ul>
    

</nav>

<%//if (user.userId == "6251fc955678ee3c832e4d5f") {%>

  <h1 style="text-decoration:underline">Current Items Database</h1>

  <a href="/products/new"><button style="border-radius: 12px; font-size: 20px; color: rgb(8, 212, 22); font-weight: bold; position: left">Add New Item</button></a> 
  <br><br>

    <table>
        <thead>
          <tr>
            <th style="font-size:20px">Product</th>
            <th style="font-size:20px">Description</th>
            <th style="font-size:20px">Price</th>
            <th style="font-size:20px">Image URL</th>
            <th style="font-size:20px">Update Info</th>
            <th style="font-size:20px">Delete Info</th>
          </tr>
        </thead>
        <tbody>
          <% productDatabase.forEach(function(p) { %>
            <tr>
              <td style="color:black"><%= p?.title %></td>
              <td style="color:black"><%= p?.description %></td>
              <td style="color:black">$<%= p?.price %></td>
              <td style="color:black"><%= p?.image %></td>
              <td style="background-color:rgba(0, 0, 0, 0.728)"><a href="/products/update/<%=p._id%>" style="color:rgb(144, 122, 0);">UPDATE</a></td>
              <td style="background-color:hsla(0, 0%, 0%, 0.728)">
                <a href="confirmation/<%=p.id%>"><button style="color:red; background-color:black; font-family:'Cinzel Decorative',cursive; border-radius: 12px;">DELETE</button></a>
                <!--<form action="/products/delete/<%= p?._id %>?_method=DELETE" method="POST">
                  <input type="submit" value="Delete Product" style="color:red; background-color:black; font-family:'Cinzel Decorative',cursive; border-radius: 12px;">
                </form>-->
              </td>

            </tr>
            <% }); %>
          </tbody>
        </table>
    <% //} %>

  <% //} else { %>
    <% } else {%>
      <nav>
          <ul>
              <li><a href="/">Euphoric Apex</a></li>
              <li><a href="/products" style="float:right">Items</a></li>
              <li><a href="/carts" style="float:right">Cart</a></li>
              <li><a href="/">Sign In</a></li>
          </ul>
          
      
      </nav>
  <%// } %>
    <h1 style="padding-top: 100px; font-size: 40px">You do not have access to this page</h1>
  <% } %>
</body>
</html>